@import "https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap";
html,
body {
  height: 100%;
  width: 100%;
}
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  font-family: "Roboto";
}
a {
  text-decoration: none !important;
  font-family: "Roboto";
}
body {
  background-color: #fff;
}

/* Navbar */
.main_container {
  max-width: 767px !important;
}
.main_navbar {
  width: 100% !important;
  height: 75px !important;
  background: #ffffff !important;
  position: fixed !important;
  bottom: 0px !important;
  border-top: 1px solid #dcdcdc;
  left: 0px !important;
  z-index: 9999 !important;
  padding: 15px 0px !important;
}
.main_navbar ul {
  list-style: none;
  margin: 0px !important;
  padding: 0px !important;
  text-align: center;
}
.main_navbar ul li {
  display: inline-block;
  vertical-align: middle;
  margin: 0px 20px;
}
.main_navbar ul li a {
  text-decoration: none;
  margin: 0px !important;
  padding: 0px !important;
}
/* Navbar */

/* Homepage */
.main_row {
  padding-bottom: 74px !important;
}
.post_trending {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #727272;
  margin: 10px 0px;
  padding: 0px 15px;
}
.post_trending img {
  width: 20px;
}
.post_trending_img {
  width: 13px !important;
  margin-right: 7px;
}
.trending-content {
  position: relative;
  border-bottom: 1px solid #dcdcdc;
}
.trending_post {
  display: flex;
  padding: 0px 15px;
}
.post_user_img {
  display: block;
  border-radius: 50%;
  margin-right: 10px;
}
.user_post_details {
  width: 100%;
}
.site_heading {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #4f266e !important;
}
.site_heading span {
  color: #727272 !important;
}
.site_description {
  font-size: 10px;
  line-height: 12px;
  color: #727272;
  display: block;
}
.trending-content .ellips_icon {
  color: #4f266e !important;
  position: absolute !important;
  right: 15px !important;
  top: 10px !important;
}
.site_content {
  font-size: 14px;
  line-height: 16px;
  color: #3b3b3b;
  margin: 10px 0px;
}

.user_post_details img {
  max-width: 100%;
}
.user_post_details ul {
  list-style: none;
  margin: 10px 0px 5px;
}
.user_post_details ul li {
  font-size: 12px;
  line-height: 14px;
  color: #727272;
  display: inline-flex;
  align-items: center;
  width: 70px;
}
.user_post_details ul li:last-child {
  width: auto;
}
.user_post_details ul li svg,
.user_post_details ul li img {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  color: #727272;
}
.w-max-content {
  width: max-content !important;
}
.table-responsive::-webkit-scrollbar {
  display: none !important;
}

.people_to_follow {
  display: block;
  border-bottom: 1px solid #dcdcdc;
  padding: 15px;
}
.people_to_follow small {
  margin-bottom: 10px;
}
.view_all {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  float: right;
  color: #3c91e6;
}
.people_box {
  text-align: center;
  width: 120px;
  height: 175px;
  border: 1px solid #b6b6b6;
  border-radius: 8px;
  padding: 15px 8px;
  margin: 0px 7px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.people_box h5 {
  height: 16px;
}
.people_box p {
  height: 24px;
  margin-bottom: 5px;
}
.follow_btn {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  text-decoration: none !important;
  width: 65px;
  height: 23px;
  background: #4f266e;
  border-radius: 8px;
  margin: 10px auto 0px;
}
.follow_user_img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px auto 15px;
}
.follow_user_img img {
  max-width: 100%;
}
.close_btn {
  outline: 0px !important;
  margin: 0px !important;
  padding: 0px !important;
  border: 0px !important;
  background: transparent !important;
  position: absolute;
  right: 8px;
  top: 0px;
}
.close_btn img {
  width: 10px !important;
}
.comments_sec {
  padding-top: 10px;
}
.comments-line {
  width: 1px;
  height: 86%;
  display: flex;
  background: #b6b6b6;
  position: absolute;
  left: 37.4px;
  top: 5%;
  z-index: -1;
}
.view_all_comments {
  position: relative;
  left: 34.5px;
  bottom: 4px;
  display: flex;
  align-items: center;
  width: max-content;
  padding-bottom: 5px;
}
.view_all_comments a {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-decoration: none;
  color: #4f266e;
  padding-left: 31px;
}
.follow_sugg_img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  margin-bottom: 5px;
}
.sugg_box {
  width: 120px;
  height: 145px;
}
.invest-box {
  background: #8cd724;
  border-radius: 8px;
  width: 100%;
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  padding: 0px 15px;
  font-size: 14px;
  color: #ffffff;
}
.invest-box span {
  font-weight: 500;
  margin-left: 3px;
  margin-right: auto;
}
.invest-box p {
  margin: 0px;
}
.invest-box p img {
  margin-left: 3px;
}
.post_img_box {
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  position: relative;
  width: max-content;
}
.post_img_box .img_details {
  font-size: 10px;
  color: #3b3b3b;
  height: 34px;
  border-top: 1px solid #dcdcdc;
  padding: 2px 10px;
  background: #ffffff;
  position: absolute;
  bottom: 0px;
  display: block;
  width: 100%;
  border-radius: 0px 0px 8px 8px;
}
.post_img_box .img_details a {
  font-size: 8px;
  color: #727272 !important;
  text-decoration: none;
  display: block;
}
.reacted_user {
  position: relative;
  left: -10px;
}
.top_mover_btn {
  background: #8cd724 !important;
}
.taged_user {
  font-size: 14px;
  line-height: 16px;
  color: #3c91e6 !important;
}
.read_more {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #4f266e;
}
.trendings-box {
  width: 146px;
  height: 156px;

  border-radius: 8px;
}
.trendings-box {
  margin: 0px 7px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.trendings-box img {
  width: 100%;
  height: 100%;
  border-radius: 8px 8px 0px 0px;
}
.trendings-box .trending_content {
  font-size: 10px;
  line-height: 12px;
  color: #727272;
  height: 38px;
  padding: 7px 7px;
  background: #ffffff;
  position: absolute;
  bottom: 0px;
  display: block;
  width: 100%;
  border: 1px solid #b6b6b6;
  border-top: 0px !important;
  border-radius: 0px 0px 8px 8px;
}
.option-content {
  padding-top: 10px;
}
.post-polls {
  list-style: none;
  margin: 0px !important;
  padding: 0px !important;
}
.site_description span {
  color: #4f266e !important;
}
.user_post_details ul.post-polls li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30px;
  background: #cabed3;
  border-radius: 8px;
  margin-bottom: 5px;
  font-size: 12px;
  line-height: 14px;
  color: #4f266e;
}
.follow_topics_ul {
  width: 440px;
  margin: 0px !important;
}
.follow_topics_ul li {
  border: 1px solid #b6b6b6;
  border-radius: 8px;
  height: 25px;
  padding: 0px 5px;
  display: inline-flex;
  align-items: center;
  font-size: 12px;
  vertical-align: middle;
  margin: 0px 5px 5px 0px;
}
.follow_topics_ul li img {
  margin-right: 5px;
}
.follow_topics_ul li a {
  margin-left: 12px;
  font-size: 17px;
}
.user_post_details ul.response-polls {
  list-style: none;
  margin: 0px !important;
  padding: 0px !important;
}
.user_post_details ul.response-polls li {
  border-radius: 8px;
  height: 30px;
  display: flex;
  width: 100%;
  margin-bottom: 5px;
}
.user_post_details ul.response-polls li span {
  border-radius: 8px;
  height: 30px;
  display: flex;
  font-size: 12px;
  padding: 0px 10px;
  align-items: center;
  color: #ffffff;
  margin-right: auto;
}
.user_post_details ul.response-polls li small {
  color: #727272;
  font-weight: 500;
  font-size: 12px;
}
.graph_slide {
  width: max-content;
  display: table;
}
.trend_graph {
  margin-right: 10px;
  display: inline-block;
}
.post_retweet_img {
  margin-right: 7px;
}
.retweet_box {
  min-height: 145px;
  padding: 10px 10px 5px;
  border-radius: 8px;
  border: 1px solid #dcdcdc;
}
.retweet_tagged_img {
  display: inline-block;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
  width: 40px;
}
